<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beautiful.back.bb.mapper.AdminsMapper">

    <resultMap id="BaseResultMap" type="beautiful.back.bb.entry.Admins">
            <id property="ano" column="Ano" jdbcType="VARCHAR"/>
            <result property="aname" column="Aname" jdbcType="VARCHAR"/>
            <result property="password" column="Password" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertAdmin">
        insert into admins values (#{ano},#{aname},#{password})
    </insert>
    <update id="updatePas">
        update admins set Password = #{password} where Ano = #{ano}
    </update>
    <delete id="deleteAdmin">
        delete from admins where Ano = #{ano}
    </delete>
    <select id="selectAllInfo" resultType="beautiful.back.bb.entry.Admins">
        select  (Ano,Aname) from admins
    </select>
    <select id="selectAdminByAno" resultType="beautiful.back.bb.entry.Admins">
        select * from admins where Ano = #{ano}
    </select>
    <select id="selectAll" resultType="beautiful.back.bb.entry.Admins">
        select * from admins
    </select>
</mapper>
