<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beautiful.back.bb.mapper.AttendMapper">

<!--    <resultMap id="BaseResultMap" type="..Attend">-->
<!--            <id property="atno" column="Atno" jdbcType="VARCHAR"/>-->
<!--            <result property="cno" column="Cno" jdbcType="VARCHAR"/>-->
<!--            <result property="tno" column="Tno" jdbcType="VARCHAR"/>-->
<!--            <result property="remarks" column="Remarks" jdbcType="VARCHAR"/>-->
<!--            <result property="status" column="Status" jdbcType="INTEGER"/>-->
<!--            <result property="startdate" column="startdate" jdbcType="DATE"/>-->
<!--            <result property="enddate" column="enddate" jdbcType="DATE"/>-->
<!--    </resultMap>-->

<!--    <sql id="Base_Column_List">-->
<!--        Atno,Cno,Tno,-->
<!--        Remarks,Status,startdate,-->
<!--        enddate-->
<!--    </sql>-->
</mapper>
