<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beautiful.back.bb.mapper.AttendMapper">

    <insert id="insertAttend">
        insert into attend values (#{atno},#{cno},#{tno},#{remarks},#{status},#{startdate},#{enddate},#{cstatus})
    </insert>
    <update id="updateStatusByAtno">
        update attend set Status = #{status} where atno = #{atno}
    </update>
    <update id="updateRemarksByAtnoInt">
        update attend set Remarks = #{remarks} where atno = #{atno}
    </update>
    <delete id="delAttendByAtno">
        delete from attend where Atno = #{atno}
    </delete>
    <select id="selectAll" resultType="beautiful.back.bb.entry.Attend">
        select * from attend
    </select>
    <select id="selectRunningAttend" resultType="beautiful.back.bb.entry.Attend">
        select * from attend where Status = 1
    </select>
    <select id="selectAttendByTno" resultType="beautiful.back.bb.entry.Attend">
        select * from attend where Tno = #{tno}
    </select>
    <select id="selectAttendByCno" resultType="beautiful.back.bb.entry.Attend">
        select * from attend where Cno = #{cno}
    </select>
    <select id="selectAttendByAtno" resultType="beautiful.back.bb.entry.Attend">
        select * from attend where Atno = #{atno}
    </select>


</mapper>
