<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beautiful.back.bb.mapper.ClassMapper">

    <insert id="insertClass">
        insert into class values (#{clno},#{clname},${mno},#{tno})
    </insert>
    <update id="updataTnoByClno">
        update class set Tno = #{tno} where clno = #{clno}
    </update>
    <update id="updataMnoByClno">
        update class set Mno = #{mno} where clno = #{clno}
    </update>
    <delete id="deleteClassByClno">
        delete from class where CLno = #{clno}
    </delete>
    <select id="selectAll" resultType="beautiful.back.bb.entry.Class">
        select * from class
    </select>
    <select id="selectClassByClno" resultType="beautiful.back.bb.entry.Class">
        select * from class where CLno = #{clno}
    </select>
    <select id="selectClassByTno" resultType="beautiful.back.bb.entry.Class">
        select * from class where Tno = #{tno}
    </select>
    <select id="selectClassByMno" resultType="beautiful.back.bb.entry.Class">
        select * from class where Mno = #{mno}
    </select>
</mapper>
