<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beautiful.back.bb.mapper.ClassMapper">

    <insert id="insertStudent">
        insert into class values (CLno=#{clno},sno=#{sno})
    </insert>
    <delete id="deleteClassByClno">
        delete from class where CLno = #{clno}
    </delete>
    <delete id="deleteStudentBySnoAndClno">
        delete from class where CLno = #{clno} and sno = #{sno}
    </delete>
    <select id="selectStudentsByClno" resultType="java.lang.String">
        select Sno from class where CLno = #{clno}
    </select>
    <select id="selectClnoBySno" resultType="java.lang.String">
        select CLno from class where sno=#{sno}
    </select>
    <select id="selectStudentCount" resultType="java.lang.Integer">
        select count(CLno)
        from class where CLno = #{clno};
    </select>
</mapper>
