<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beautiful.back.bb.mapper.CourseMapper">

<!--    <resultMap id="BaseResultMap" type="..Course">-->
<!--            <id property="cno" column="Cno" jdbcType="VARCHAR"/>-->
<!--            <result property="cstatus" column="Cstatus" jdbcType="INTEGER"/>-->
<!--            <result property="cname" column="Cname" jdbcType="VARCHAR"/>-->
<!--            <result property="teacher" column="Teacher" jdbcType="VARCHAR"/>-->
<!--            <result property="type" column="Type" jdbcType="INTEGER"/>-->
<!--            <result property="info" column="Info" jdbcType="VARCHAR"/>-->
<!--            <result property="clno" column="CLno" jdbcType="VARCHAR"/>-->
<!--    </resultMap>-->

<!--    <sql id="Base_Column_List">-->
<!--        Cno,Cstatus,Cname,-->
<!--        Teacher,Type,Info,-->
<!--        CLno-->
<!--    </sql>-->
</mapper>
