<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beautiful.back.bb.mapper.CourseMapper">

    <insert id="insertCourse">
        insert into course values (#{cno},#{cname},#{tno},#{type},#{info},#{clno},#{startdate},#{enddate})
    </insert>
    <update id="updateCnameByCno">
        update course set Cname = #{cname} where cno = #{cno}
    </update>
    <update id="updateCinfoByCno">
        update course set Info = #{cinfo} where cno = #{cno}
    </update>
    <delete id="delCourseByCno">
        delete from course where Cno = #{cno}
    </delete>
    <select id="selectAll" resultType="beautiful.back.bb.entry.Course">
        select * from course
    </select>
    <select id="selectCourseByTeacher" resultType="beautiful.back.bb.entry.Course">
        select * from course where Tno = #{tno}
    </select>
    <select id="selectCourseByClno" resultType="beautiful.back.bb.entry.Course">
        select * from course where CLno = #{clno}
    </select>
    <select id="selectCourseByDate" resultType="beautiful.back.bb.entry.Course">
        select * from course where startdate &gt;= #{start} and enddate &lt;= #{end}
    </select>
    <select id="selectCourseDateBig" resultType="beautiful.back.bb.entry.Course">
        select * from course where startdate &gt;= #{start}
    </select>
</mapper>
