<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beautiful.back.bb.mapper.MajorMapper">

    <resultMap id="BaseResultMap" type="beautiful.back.bb.entry.Major">
            <id property="mno" column="Mno" jdbcType="VARCHAR"/>
            <result property="mname" column="Mname" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insertMajor">
        insert into major values (#{mno},#{mname})
    </insert>
    <update id="updateMnameByMnoInt">
        update major set mname = #{newMname} where mno = #{mno}
    </update>
    <delete id="deleteByMno">
        delete from major where Mno = #{mno}
    </delete>

    <select id="getAllMajor" resultType="beautiful.back.bb.entry.Major">
        select * from major
    </select>
</mapper>
