<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beautiful.back.bb.mapper.RecordMapper">

<!--    <resultMap id="BaseResultMap" type="..Record">-->
<!--            <id property="rno" column="Rno" jdbcType="INTEGER"/>-->
<!--            <result property="atno" column="Atno" jdbcType="VARCHAR"/>-->
<!--            <result property="sno" column="Sno" jdbcType="VARCHAR"/>-->
<!--            <result property="date" column="Date" jdbcType="DATE"/>-->
<!--            <result property="type" column="Type" jdbcType="INTEGER"/>-->
<!--    </resultMap>-->

<!--    <sql id="Base_Column_List">-->
<!--        Rno,Atno,Sno,-->
<!--        Date,Type-->
<!--    </sql>-->
</mapper>
