<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beautiful.back.bb.mapper.RecordMapper">

    <insert id="insertRecord">
        insert into record values (Atno=#{atno},sno=#{sno},date=#{date},type=#{type})
    </insert>
    <update id="updateTypeByAtnoAndSnoInt">
        update record set Type = #{type} where Atno = #{atno} and sno = #{sno}
    </update>
    <delete id="delRecordByAtno">
        delete from record where Atno = #{atno}
    </delete>
    <select id="selectAll" resultType="beautiful.back.bb.entry.Record">
        select * from record
    </select>
    <select id="selectRecordBySno" resultType="beautiful.back.bb.entry.Record">
        select * from record where Sno = #{sno}
    </select>
    <select id="selectRecordByAtno" resultType="beautiful.back.bb.entry.Record">
        select * from record where Atno = #{atno}
    </select>


</mapper>
