<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beautiful.back.bb.mapper.StudentsMapper">

<!--    <resultMap id="BaseResultMap" type="..Students">-->
<!--            <id property="sno" column="Sno" jdbcType="VARCHAR"/>-->
<!--            <result property="sname" column="Sname" jdbcType="VARCHAR"/>-->
<!--            <result property="clno" column="clno" jdbcType="VARCHAR"/>-->
<!--            <result property="password" column="Password" jdbcType="VARCHAR"/>-->
<!--            <result property="imgpath" column="Imgpath" jdbcType="VARCHAR"/>-->
<!--            <result property="mno" column="Mno" jdbcType="VARCHAR"/>-->
<!--    </resultMap>-->

<!--    <sql id="Base_Column_List">-->
<!--        Sno,Sname,clno,-->
<!--        Password,Imgpath,Mno-->
<!--    </sql>-->
</mapper>
