<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beautiful.back.bb.mapper.StudentsMapper">

    <insert id="insertStudent">
        insert into students values (#{sno},#{sname},#{password},#{imgpath},#{mno},#{uuid},#{wxid})
    </insert>
    <update id="updataPasswordBySno">
        update students set Password = #{password} where sno = #{sno}
    </update>
    <update id="updataNameBySno">
        update students set Sname = #{sname} where sno = #{sno}
    </update>
    <update id="updataImgpathBySno">
        update students set Imgpath = #{imgpath} where sno = #{sno}
    </update>
    <update id="updataMnoBySno">
        update students set Mno = #{mno} where sno = #{sno}
    </update>
    <update id="updateStudentInfo">
        update students
        <trim prefix="SET" suffixOverrides=",">
            <if test="sname!=null">
                sname = #{sname},
            </if><if test="password != null">
            password = #{password},
        </if><if test="imgpath != null">
            imgpath = #{imgpath},
        </if><if test="mno != null">
            mno = #{mno},
        </if><if test="wxid != null">
            wxid = #{wxid},
        </if><if test="sno != null">
            sno = #{sno}
        </if>
         </trim>
            where uuid = #{uuid}
    </update>
    <update id="updateWxid">
        update students set wxid = #{wxid} where sno  = #{sno}
    </update>
    <delete id="delStudentByUuid">
        delete from students where uuid = #{uuid}
    </delete>
    <select id="selectAll" resultType="beautiful.back.bb.entry.Students">
        select (Sno,Sname,Imgpath,Mno) from students
    </select>
    <select id="selectStudentsByMno" resultType="beautiful.back.bb.entry.Students">
        select (Sno,Sname,Imgpath,Mno) from students where Mno = #{mno}
    </select>
    <select id="selectStudentBySno" resultType="beautiful.back.bb.entry.Students">
        select * from students where Sno = #{sno}
    </select>
    <select id="selectImgpathBySno" resultType="java.lang.String">
        select Imgpath from students where Sno = #{sno}
    </select>
    <select id="selectStundentsBySname" resultType="beautiful.back.bb.entry.Students">
        select (Sno,Sname,Imgpath,Mno) from students where Sname like  concat('%','${sname}','%')
    </select>
    <select id="selectUuidBySno" resultType="java.lang.String">
        select uuid from students where Sno = #{sno}
    </select>
    <select id="selectPasswordBySno" resultType="java.lang.String">
        select Password from students where Sno = #{sno}
    </select>
    <select id="selectUuidByWxid" resultType="java.lang.String">
        select uuid from students where wxid = #{wxid}
    </select>
    <select id="selectStudentByUuid" resultType="beautiful.back.bb.entry.Students">
        select * from students where uuid = #{uuid}
    </select>
</mapper>
