<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beautiful.back.bb.mapper.TeachersMapper">

<!--    <resultMap id="BaseResultMap" type="..Teachers">-->
<!--            <id property="tno" column="Tno" jdbcType="VARCHAR"/>-->
<!--            <result property="tname" column="Tname" jdbcType="VARCHAR"/>-->
<!--            <result property="mno" column="Mno" jdbcType="VARCHAR"/>-->
<!--            <result property="password" column="Password" jdbcType="VARCHAR"/>-->
<!--    </resultMap>-->

<!--    <sql id="Base_Column_List">-->
<!--        Tno,Tname,Mno,-->
<!--        Password-->
<!--    </sql>-->
</mapper>
